---
import Layout from '../layouts/Layout.astro';
import communities from '../assets/communities.json'
import type { Community } from '../interfaces/communities';
import CommunityCard from '../components/CommunityCard/CommunityCard.astro';

---

<Layout title="Comunidades - Ecuador In Tech">
  <div class="container mx-auto px-4 py-12">
    <h1 class="text-4xl font-bold mb-8">Comunidades</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        communities.map((community:Community) => (
          <CommunityCard
            title={community.name}
            description={community.description}
            tags={community.tags}
            githubUrl="https://github.com"
            linkedinUrl="https://linkedin.com"
            instagramUrl="https://instagram.com"
            logoUrl={community.image}
          />
        ))
      }
    </div>
  </div>
</Layout>
