---
import Layout from '../layouts/Layout.astro';
import communities from '../assets/communities.json'
import type { Community } from '../interfaces/communities';
import CommunityCard from '../components/CommunityCard/CommunityCard.astro';

---

<Layout title="Comunidades - Ecuador In Tech">
  <div class="container mx-auto max-w-fit px-4 py-12">
    <h1 class="text-4xl font-bold mb-8">Comunidades</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
      {
        communities.map((community:Community) => (
          <CommunityCard {...community} />
        ))
      }
    </div>
  </div>
</Layout>
