---
import commonQuestions from "../assets/common-questions.json";
import Accordion from "./Accordion.astro";
---
<!-- 

Father component: Alpine.js logic

1. `activeId` is a global state that stores the ID of the last accordion opened by the user.
2. When clicking on a child component (an accordion), the `toggle` method updates the `activeId`:
   - If the clicked accordion's ID matches the current `activeId`, it collapses (resets to `null`).
   - If it's different, the new ID is set as `activeId`.
3. Every accordion checks if its ID matches `activeId` by using the `isVisible` method. This way, accordion opens or closes.

This ensures only one accordion is open at a time.

-->
<section 
  x-data="{
    activeId: null,

    setActiveId(id) {
      this.activeId = id;
    },

    isVisible(id) {
      return this.activeId === id;
    },

    toggle(id){
        if (this.activeId === id) {
          this.setActiveId(null)
        } else {
          this.setActiveId(id)
        };
      }  
    }"

  class="py-16 bg-white">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12">Preguntas frecuentes</h2>
    <div
      class="container faqs-container "
    >
      {
        commonQuestions.map((question, index) => (
          <Accordion
            {...question}
            id={++index}
            last={commonQuestions.length}
          />
        ))
      }
    </div>
  </div>
</section>
