---
import commitments from "../assets/commitments.json";
import Carrousel from "./CommitementsCarrousel/Carrousel.astro";
---

<section class="pt-12 pb-16">
  <div class="container mx-auto px-4">
    <div class="flex flex-col mb-16">
      <h2 class="text-3xl font-bold text-left md:text-center mx-5">
        Nuestros compromisos
      </h2>
    </div>
    <div class="flex justify-start xl:justify-center">
      <Carrousel commitements={commitments} />
    </div>
  </div>
</section>
