---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar/Navbar.astro";

// Incorporate global styles file to whole website
import "../styles/globals.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ecuador In Tech" />
    <meta name="viewport" content="width=device-width" />
    <script defer src="https://cloud.umami.is/script.js" data-website-id="cb063bf5-5bb2-443b-ba30-e0447966a426"></script>
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for Ecuador In Tech"
      href={new URL("rss.xml", Astro.site)}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Navbar />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
