---
interface Props{
    text: string
}

const {text} = Astro.props
---
<a 
    href=""
    class="bg-white text-blue-600 rounded-xl border-solid border-2  border-blue-600 mx-1
            font-bold px-6 py-3
            hover:bg-blue-700
            hover:text-white
    ">
    {text}
</a>
