---
interface Props{
    title: string,
    link?: string
}

const {title, link} = Astro.props
---
<!-- Pienso esto a futuro: al hacer click, el usuario podríaser redirigido a la página principal de eventos, con el tag como criterio de búsqueda -->
<a 
    href={link}
    class="text-blue-500
            font-bold p-2
            hover:text-blue-700
            hover:cursor-pointer
    ">
    {title}
</a>