---
interface Props{
    title: string
}

const {title} = Astro.props
---
<!-- Pienso esto a futuro: al hacer click, el usuario podríaser redirigido a la página principal de eventos, con el tag como criterio de búsqueda -->
<a 
    href=""
    class="text-blue-500
            font-bold p-2
            hover:text-blue-700
    ">
    {title}
</a>