---

import type { SocialMedia } from "../../interfaces/events";

const {socialMedia, url} = Astro.props as SocialMedia

---

<div class="m-2 opacity-80">
    {socialMedia ? (
            <a href={url}>
                <img src=`../../../public/icons/${socialMedia}.svg` 
                    width={18}
                />
            </a>
        ) : ""}
</div>